- name: Create a users attached to ynov group
  ansible.builtin.user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    state: present
    shell: /bin/bash       # Defaults to /bin/bash
    system: no             # Defaults to no
    createhome: yes        # Defaults to yes
    home: "{{ item.home }}"
    groups: "{{ item.groups }}"
  with_items: "{{ users }}" 
  
- name: Add public key
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.key }}"
    state: present
  with_items: "{{ users }}" # ceci permet de boucler sur la liste common_packages